// main container
.parent {
  position: relative;
  background: var(--secondary);
  width:49%;
  height: 40px;
  margin: 20px auto;
  margin-top: 8%;
  border-radius: 4px;
}

// search bar content
.search-bar {
  background: var(--secondary);
  position: relative;
  margin-top: 20px auto;
  padding: 45px 30px 30px 10px;
  }

.add-button {
  background-color: #008CBA;
  width: 180px;
  position: absolute;
  top: 15px;
  right: 50px;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 7px 5px 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type=text] {
  position: absolute;
  width: 300px;
  top: 15px;
  left: 75px;
  border: 2px solid var(--primary);
  border-radius: 3px;
  font-size: 16px;
  background-color: var(--primary);
  background-repeat: no-repeat;
  padding: 7px 10px 7px 20px;
  margin-left: 10px;
}

.filter-button {
  position: absolute;
  top: 17px;
  left: 20px;
  border: 2px solid var(--primary);
  border-radius: 3px;
  background-color: var(--secondary);
  background-repeat: no-repeat;
  padding: 3px 10px 7px 10px;
  }

// table section
.content-table {
  border-collapse: collapse;
  background-color: #F4F7FC;
  height: 500px;
  min-width: 300px;
  overflow: hidden;
}

.content-table thead tr {
  background-color: #F4F7FC;
  color: #696161;
  text-align: left;
  font-weight: lighter;
}

.content-table th, td {
  padding: 8px 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 8pt;
}

span {
  color: grey;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(odd) {
  background-color: white;
}

// ** checkbox

.container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 12px;
  left: 22px;
  height: 15px;
  width: 15px;
  border: 2px solid var(--primary);
  border-radius: 3px;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.active {
  background: #008CBA;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  background-color: rgb(209, 221, 230);
}

.nigative {
  color: red;
}
.positive {
  color: green;
}